<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue example grid component</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>

    <script type="text/x-template" id="grid-template">
      <table v-if="filteredData.length">
        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key }">
              {{ key | capitalize }}
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filteredData">
            <td v-for="key in columns">
              {{entry[key]}}
            </td>
          </tr> 
        </tbody>
      </table>
    </script>

    <div id="app">
      <form id="search">
        Search <input name="query" v-model="searchQuery" />
      </form>
      <grid
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
      ></grid>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
